@keyframes accordion-animation-up {
	0% {
		height: var(--reka-accordion-content-height);
	}
	to {
		height: 0;
	}
}

@keyframes accordion-animation-down {
	0% {
		height: 0;
	}
	to {
		height: var(--reka-accordion-content-height);
	}
}

@keyframes marquee-animation {
	0% {
		transform: translateZ(0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
	}
}
