@theme {
	/* text-4xl */
	--text-4xl: 3.25rem;
	--text-4xl--line-height: 1.1;

	/* text-3xl */
	--text-3xl: 2.25rem;
	--text-3xl--line-height: 1;
	--text-3xl--letter-spacing: -0.03em;

	/* text-2xl */
	--text-2xl: 1.25rem;
	--text-2xl--line-height: 1.1;
	--text-2xl--letter-spacing: -0.03em;

	/* text-xl */
	--text-xl: 1rem;
	--text-xl--line-height: 1.2;
	--text-xl--letter-spacing: -0.02em;

	/* text-lg */
	--text-lg: 1rem;
	--text-lg--line-height: 1;
	--text-lg--letter-spacing: -0.03em;

	/* text-base */
	--text-base: 1rem;
	--text-base--line-height: 1.3;
	--text-base--letter-spacing: -0.03em;

	/* text-sm */
	--text-sm: 0.875rem;
	--text-sm--line-height: 1.2;
	--text-sm--letter-spacing: -0.03em;

	/* text-xs */
	--text-xs: 0.75rem;
	--text-xs--line-height: 1.2;
	--text-xs--letter-spacing: -0.03em;

	/* font-family */
	--default-font-family: var(--font-main);
	--font-main: "Inter", "sans-serif";
}

@layer components {
	.text-heading-lg {
		@apply text-4xl font-bold;
	}

	.text-heading-md {
		@apply text-3xl font-semibold;
	}

	.text-heading-sm {
		@apply text-2xl font-semibold;
	}

	.text-button-bold {
		@apply text-xl font-bold;
	}

	.text-button-base {
		@apply text-lg font-semibold;
	}

	.text-body-lg {
		@apply text-base font-medium;
	}

	.text-body-md {
		@apply text-sm;
	}

	.text-body-sm {
		@apply text-xs;
	}
}
