@source inline("isolate");

@layer base {
	body {
		@apply text-default bg-default -tracking-3 antialiased scheme-dark;
	}
	:focus-visible {
		@apply ring-primary ring-3 outline-none;
	}
}

@theme default inline {
	--color-neutral-400: var(--ui-color-neutral-400);
	--color-neutral-500: var(--ui-color-neutral-500);
	--color-neutral-600: var(--ui-color-neutral-600);
	--color-neutral-700: var(--ui-color-neutral-700);
	--color-neutral-800: var(--ui-color-neutral-800);
	--color-neutral-900: var(--ui-color-neutral-900);
	--color-primary: var(--ui-primary);

	--radius-xs: calc(var(--ui-radius) * 0.5);
	--radius-sm: calc(var(--ui-radius) * 0.75);
	--radius-md: var(--ui-radius);
	--radius-lg: calc(var(--ui-radius) * 1.25);
	--radius-xl: calc(var(--ui-radius) * 1.5);
	--radius-2xl: calc(var(--ui-radius) * 1.75);
	--radius-3xl: calc(var(--ui-radius) * 2);

	--text-color-obscure: var(--ui-text-obscure);
	--text-color-dimmed: var(--ui-text-dimmed);
	--text-color-muted: var(--ui-text-muted);
	--text-color-toned: var(--ui-text-toned);
	--text-color-default: var(--ui-text);
	--text-color-highlighted: var(--ui-text-highlighted);
	--text-color-inverted: var(--ui-text-inverted);

	--background-color-default: var(--ui-bg);
	--background-color-obscure: var(--ui-bg-obscure);
	--background-color-dimmed: var(--ui-bg-dimmed);
	--background-color-muted: var(--ui-bg-muted);
	--background-color-toned: var(--ui-bg-toned);
	--background-color-highlighted: var(--ui-bg-highlighted);
	--background-color-inverted: var(--ui-bg-inverted);

	--border-color-default: var(--ui-bg);
	--border-color-obscure: var(--ui-bg-obscure);
	--border-color-dimmed: var(--ui-bg-dimmed);
	--border-color-muted: var(--ui-bg-muted);
	--border-color-toned: var(--ui-bg-toned);
	--border-color-highlighted: var(--ui-bg-highlighted);
	--border-color-inverted: var(--ui-bg-inverted);

	--ring-color-default: var(--ui-bg);
	--ring-color-obscure: var(--ui-bg-obscure);
	--ring-color-dimmed: var(--ui-bg-dimmed);
	--ring-color-muted: var(--ui-bg-muted);
	--ring-color-toned: var(--ui-bg-toned);
	--ring-color-highlighted: var(--ui-bg-highlighted);
	--ring-color-inverted: var(--ui-bg-inverted);

	--ring-offset-color-default: var(--ui-bg);
	--ring-offset-color-obscure: var(--ui-bg-obscure);
	--ring-offset-color-dimmed: var(--ui-bg-dimmed);
	--ring-offset-color-muted: var(--ui-bg-muted);
	--ring-offset-color-toned: var(--ui-bg-toned);
	--ring-offset-color-highlighted: var(--ui-bg-highlighted);
	--ring-offset-color-inverted: var(--ui-bg-inverted);

	--divide-color-default: var(--ui-bg);
	--divide-color-obscure: var(--ui-bg-obscure);
	--divide-color-dimmed: var(--ui-bg-dimmed);
	--divide-color-muted: var(--ui-bg-muted);
	--divide-color-toned: var(--ui-bg-toned);
	--divide-color-highlighted: var(--ui-bg-highlighted);
	--divide-color-inverted: var(--ui-bg-inverted);

	--outline-color-default: var(--ui-bg);
	--outline-color-obscure: var(--ui-bg-obscure);
	--outline-color-dimmed: var(--ui-bg-dimmed);
	--outline-color-muted: var(--ui-bg-muted);
	--outline-color-toned: var(--ui-bg-toned);
	--outline-color-highlighted: var(--ui-bg-highlighted);
	--outline-color-inverted: var(--ui-bg-inverted);

	--stroke-default: var(--ui-bg);
	--stroke-obscure: var(--ui-bg-obscure);
	--stroke-dimmed: var(--ui-bg-dimmed);
	--stroke-muted: var(--ui-bg-muted);
	--stroke-toned: var(--ui-bg-toned);
	--stroke-highlighted: var(--ui-bg-highlighted);
	--stroke-inverted: var(--ui-bg-inverted);

	--fill-default: var(--ui-bg);
	--fill-obscure: var(--ui-bg-obscure);
	--fill-dimmed: var(--ui-bg-dimmed);
	--fill-muted: var(--ui-bg-muted);
	--fill-toned: var(--ui-bg-toned);
	--fill-highlighted: var(--ui-bg-highlighted);
	--fill-inverted: var(--ui-bg-inverted);
}
